.button {
  color: #fff;
  border: none;
  padding: 10px 15px;
  display: block;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;

  &:disabled {
    background-color: rgb(164, 175, 185);
    cursor: not-allowed;
  }
}

.blue {
  background-color: rgb(25, 118, 210);
}

.red {
  background-color: #dc3545;
}

.gray {
  background-color: #6c757d;
}