$fab-size: 35px;

.fab {
  border-radius: 50%;
  width: $fab-size;
  height: $fab-size;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.blue {
  background-color: #1976d2;
  color: #fff;
  &:hover {
    background-color: #165696;
  }
}

.white {
  background-color: #fff;
  color: #1976d2;
  &:hover {
    background-color: rgba(255, 255, 255, 0.815);
  }
}

.red {
  background-color: #dc3545;
  color: #fff;
  &:hover {
    background-color: #ac2a37;
  }
}

.yellow {
  background-color: #daa300;
  color: #fff;
  &:hover {
    background-color: #be8f00;
  }
}
